.__VISITURN_GlUHW--hidden {
  display: none !important;
}

.__VISITURN_GlUHW-iframe--wrapper {
  position: fixed !important;
  display: block !important;
  z-index: 2147483630 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.__VISITURN_GlUHW-iframe--wrapper .__VISITURN_GlUHW-iframe {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
