body { background-color: rgba(0,0,0,0.3); }

.modal-content {
	width: 900px;
	max-width: 85%;
	
	padding: 30px;
	margin: 30px auto;

	background-color: #ECF3FA;
}

.modal-header {
	padding: 0;
	text-align: center;
	border-bottom: 0;

	h3 {
		font-weight: 500;
	}
	h4 {
		margin: 0;
	}
}

.modal-body {
	.row {
		background-color: #fff;
	}
}

.btn {
	border: 0;
	border-radius: 2px;
	background-color: #F89D0E;
	color: #fff;
	padding: 5px;
	text-align: center;
	width: 100%;
	font-size: 1.2em;
}

.partner-container {
	text-align: center;
	
	img {
		width: 100%;
	}
}